<div id="<%= dom_id blog_post %>">
  <p>
    <strong>Title:</strong>
    <%= blog_post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= blog_post.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= blog_post.image_url %>
  </p>

</div>
